.App {
  text-align: center;
  min-height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 10vw;
  row-gap: 20px;
  margin-left: 30%;
}

input{
  height: 5vh;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

.data{
  height: fit-content;
  display: flex;
  justify-content: center;
}

.api-btns{
  height: 8vh;
  display: flex;
  justify-content: center;
  column-gap: 5vw;
}

.api-btn{
  width: 20%;
  height: 5vh;
  cursor: pointer;
}